.header-1-sub .pt-page-2 .background {
    background-image: url("../assets/Toni_Gletscher.jpeg");
}
.header-1-sub .pt-page-1 .background {
    background-image: url("../assets/Zodiacal-Light.jpg");
}
.header-14-sub .background {
    background-image: url("../assets/Toni_Gletscher.jpeg");

    opacity: 60;
    filter: alpha(opacity=2000);
    opacity: 0.6;
    filter: alpha(opacity=20);
}

.header-10-sub .background {
    background-image: url("../assets/run2.jpg");
    opacity: 60;
    filter: alpha(opacity=2000);
    opacity: 0.6;
    filter: alpha(opacity=20);
}

a:hover,
a:focus,
a.active,
a {
    color: #E60040;
}


.header-14-sub .hero-unit > * {
    display: table-cell;
    vertical-align: middle;
    border: 8px;
    padding: 25px 30px;
    padding: 25px 30px;
    text-align: left;
}

.header-8 .navbar .nav > li > a {
    color: #003d5f;
}
.header-8 .navbar .nav > li > a:hover,
.header-8 .navbar .nav > li > a:focus,
.header-8 .navbar .nav > li > a.active {
    color: #E60040;
}
.header-8 .navbar .nav > li.active > a {
    color: #E60040;
}
.header-8 .navbar .nav > li.active > a:hover,
.header-8 .navbar .nav > li.active > a:focus,
.header-8 .navbar .nav > li.active > a.active {
    color: #E60040;
}

.header-14-sub .subscribe-form form .input-group .btn {
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 0;
    -webkit-border-radius: 0 6px 6px 0;
    -moz-border-radius: 0 6px 6px 0;
    border-radius: 0 6px 6px 0;
    border: 0;
    color: #fff;
    background: #E60040;
    line-height: 22px;
    font-size: 17px;
    font-weight: 500;
}

.contacts-1 {
  padding: 40px;
}
.contacts-1 form input:focus,
.contacts-1 form textarea:focus {
    border-color: #E60040;
}
.contacts-1 form .btn.btn-primary:hover,
.contacts-1 form .btn.btn-primary:focus {
    background-color: #E60040;
}
.contacts-1 form .btn.btn-primary:active,
.contacts-1 form .btn.btn-primary.active {
    background-color: #E60040;
}
.btn-primary {
    color: #ffffff;
    background-color: #E60040;
}
.header-14-sub .subscribe-form .btn.btn-primary:hover,
.header-14-sub .subscribe-form .btn.btn-primary:focus {
    background-color: #E60040;
}
.header-14-sub .subscribe-form .btn.btn-primary:active,
.header-14-sub .subscribe-form .btn.btn-primary.active {
    background-color: #E60040;
}

.contacts-1 a {
    color: #E60040;
}

.contacts-1 a:hover,
.contacts-1 a:focus,
.contacts-1 a.active {
    color: #E60040;
}
.contacts-1 .phone big {
    color: #E60040;
}
.bg-wet-asphalt {
    background-color: #003d5f;
}

.blog-3 .title img {
  display: block;
  margin: 0 auto 37px;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
}

.blog-5 {
  padding-top: 60px;
  padding-bottom: 20px;
}

.blog-5 .lead + p {
  margin-top: 0px;
}

.blog-5 .quote {
  position: relative;
  margin: 0 0;
  padding: 20px 0 20px;
  color: #34495e;
  background: #f5f6f6;
  font-size: 22px;
  font-style: italic;
  font-weight: normal;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  letter-spacing: 0px;
}
.blog-5 .quote:before {
  content: none;
  display: block;
  margin: 0 auto 35px;
  text-align: center;
}
.blog-5 .quote .author {
  margin-top: 35px;
  font-size: 18px;
  font-weight: 500;
  color: #E60040;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 0;
  padding-bottom: 20px;
}


.content-5 {
  padding-top: 80px;
  padding-bottom: 0px;
  position: relative;
}
